* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   font-size: 13px;
   overflow-x: hidden;
}
header {
    height: 80px;
    background-color: #000;
    color: #fff;
}
.header {
    max-width: 1140px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 240px;
    margin-left: 30px;
}
.logoimg {
    width: 250px;
    height: 70px;
    background-color: #ffb340;
    background-image: url(../../assets/logo002.png);
    background-size: cover;
    background-position: center;
}
.menu-opener {
    display: none;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;

}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #000;
}
.menu li a:hover,
.menu .active a {
    border-bottom: 2px solid #fff;
    color: #ffb340;
    transition: var(--trans,color .4s ease 0s)
}

@media (min-width:450px) and (max-width:800px) {
    .menu-opener {
        display: block;
        width: 70px;
        margin-right: 30px;
        cursor: pointer;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color:rgba(0, 0, 0, 0.9);
        width: 45vw;
        height: calc(100vh - 120px);
        top: 80px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a:hover,
    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 18px;
        border: 0;
        margin-left: 25px;
        justify-content: start;
    }
    .menu li.active a {
        border: 0;
        color: #ffb340;
    }
}

@media (max-width:450px) {
    .logo {
        margin-left: 36px;
    }
    .logoimg {
        width: 58px;
        height: 58px;
        background-image: url(../../assets/logo.png);
        border-radius: 50%;
    }
    .menu-opener {
        display: block;
        width: 70px;
        margin-right: 30px;
        cursor: pointer;
    }
    nav {
        align-items: center;
        position: absolute;
        z-index: 99;
        background-color:rgba(0, 0, 0, 0.9);
        width: 100vw;
        height: calc(100vh - 120px);
        top: 80px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a:hover,
    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 18px;
        border: 0;
    }
    .menu li.active a {
        border: 0;
        color: #ffb340;
    }
}

@media (min-width:801px) {
    nav {
        display: flex !important;
    }
}
