.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    background-color: #000;
    background-image: url(../../../assets/bg001.png);
    background-size: cover;
    background-position: bottom;
  }
  
  .project-title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 50px;
  }
  
  .project-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 65%);
    width: 60vw;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .left-side {
    padding: 10px;
  }
  .left-side img {
    border-radius: 5px;
  }
  .right-side {
    padding: 10px;
    font-size:15px;
    color:#555;
    margin-top:10px;
  }
  ul {
    margin-left: 25px;
  }
  
.project-button {
    display: inline-block;
    background-color: #ffb340;
    color: #333;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
    opacity: .8;
}
.project-button:hover {
    opacity: 1;
}
.project-backButton {
    display: inline-block;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 20px;
    opacity: .8;
    cursor: pointer;
}
.project-backButton:hover {
    opacity: 1;
} 